<!DOCTYPE HTML>
<html>
 <head>
  <title> BUI 管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="bui/css/dpl-min.css" rel="stylesheet" type="text/css" />
  <link href="bui/css/bui-min.css" rel="stylesheet" type="text/css" />
   <link href="bui/css/main-min.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
	 	<DIV class="span10 doc-content">
			<FORM class="form-horizontal well" method="post" action="login">
				<DIV class=row>
					<DIV class="control-group span8">
						<LABEL class=control-label>用户名：</LABEL>
						<DIV class=controls><INPUT class=control-text> </DIV>
					</DIV>
				</DIV>
				
				<DIV class=row>
					<DIV class="control-group span8">
						<LABEL class=control-label>密码：</LABEL> 
						<DIV class=controls><INPUT class=control-text> </DIV>
					</DIV>
				</DIV>
				
				<DIV class=row>
					<DIV class="form-actions offset3">
						<BUTTON class="button button-primary" type=submit>登陆</BUTTON>
						<BUTTON class=button type=reset>取消</BUTTON> 
					</DIV>
				</DIV>
			</FORM>
		</DIV>
 </body>
</html>
